<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908560355584-4fqfuavvkenk9al1fb1htbvmj64s6obq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908560355584-4fqfuavvkenk9al1fb1htbvmj64s6obq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>908560355584-04r0vl2ecj01v897ijav133kjbkerg05.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC25JVw2Th3G9lM5FlN5peBMIs5tGqgCvw</string>
	<key>GCM_SENDER_ID</key>
	<string>908560355584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pavewaytechnologies.jekalowa</string>
	<key>PROJECT_ID</key>
	<string>jekalowa-99a01</string>
	<key>STORAGE_BUCKET</key>
	<string>jekalowa-99a01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908560355584:ios:6443b9e771d885293e63e5</string>
	<key>DATABASE_URL</key>
	<string>https://jekalowa-99a01.firebaseio.com</string>
</dict>
</plist>